{{> layout/header}}
<div class="company-list-page">
    <div class="company-list-container">
        <!-- 헤더 + 추가 버튼 -->
        <div class="company-list-header">
            <h1>기업 목록</h1>
            {{#sessionUser}}
                {{#isCompany}}{{#isCompanyInfoWritable}}
                    <a href="/company/form" class="add-button">추가</a>
                {{/isCompanyInfoWritable}}{{/isCompany}}
            {{/sessionUser}}
        </div>

        <!-- 기업 목록 -->
        {{#companyInfoList}}
        <div class="company-item">
            <img src="https://picsum.photos/id/10/300/300" alt="기업 이미지">
            <div>
                <a href="/company/{{companyId}}">{{companyName}}</a>
                <p>{{companyDesc}}</p>
            </div>
        </div>
        {{/companyInfoList}}

        {{^companyInfoList}}
        <div class="company-item">
            <p>등록된 기업이 없습니다.</p>
        </div>
        {{/companyInfoList}}
    </div>
</div>
{{> layout/footer}}
