<div class="bg-light p-5 text-center">
    <h4>ⓒ 2025. JobGoalin All rights reserved.</h4>
    <h5>☎ 010-1234-1234</h5>
    <button class="btn btn-outline-primary"><a href="/contactus">오시는길</a></button>
</div>
</body>

</html>