<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채용공고 목록</title>
</head>
<body>
<h1>채용공고 목록</h1>


{{#jobPostingBoardList}}
    <div>
        <h2>{{title}}</h2>
        <p><strong>{{employmentType}}</strong></p>
        <p><strong>기업명:{{companyName}}</strong></p>
        <p><strong>{{location}}</strong></p>
        <a href="/job-postings/new">상세보기</a>

    </div>
    <hr>
{{/jobPostingBoardList}}

{{^jobPostingBoardList}}
    <p>등록된 채용공고가 없습니다.</p>
{{/jobPostingBoardList}}
</body>
</html>
