{{> layout/header}}
<body>
<h1>이력서 목록</h1>

<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성일</th>
        <th>상세정보</th>
    </tr>
    </thead>
    <tbody>
    {{#resumeList}}{{#showStatus}}
        <tr>
            <td>{{resumeNo}}</td>
            <td>{{title}}</td>
            <td>{{content}}</td>
            <td>{{formattedDate}}</td>
            <td>
                <a href="/resumes/{{resumeNo}}" class="btn-detail">상세보기</a>
            </td>
        </tr>
    {{/showStatus}}{{/resumeList}}
    </tbody>
</table>
</body>
{{> layout/footer}}
