{{> layout/header}}

<div class="error-page">
    <div class="container">
        <div class="background-x"></div>
        <div class="error-icon">❌</div>
        <div class="error-code">401 UnAuthorized</div>
        <div class="error-message">{{msg}}</div>
    </div>
</div>

{{> layout/footer}}
